.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 720px) {
  .container {
    flex-direction: column;
  }
}

.root {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  background: rgb(14, 14, 14);
  color: #fff;
}

.image {
  user-select: none;
  width: 500px;
  margin: 0 40px;
  align-self: center;
}

.link {
  margin: 40px 8px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.anchor {
  color: #fff;
  
}
