.root {
  margin: auto;
  width: 1200px;
  height: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(5);
}
